<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
    <script defer src="login.js" type="application/javascript"></script>
</head>

<body>
    <main id="main-holder">
        <h1 id="login-header">Login for Health Universal</h1>

        <div id="login-error-msg-holder">
            <p id="login-error-msg">Invalid Username <span id="error-msg-second-line">and/or password</span> </p>
        </div>

        <form id="login-form">
            <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
            <input type="text" name="password" id="password-field" class="login-form-field" placeholder="Password">
            <input type="submit" value="Login" id="login-form-submit">
            <input type="button" name="usernameReset" id="forgot-username" class="login-reset-field">
            <input type="button" name="passwordReset" id="forgot-password" class="login-reset-field">

        </form>
    </main>

</body>


</html>