<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        .flex-container {
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            text-align: center;
            min-height: 400px;
            background-color: #4682B4;
            align-items: center;}
    </style>
</head>

<body>
    <div class="flex-container">
        <img src="../static/images/healthcare-logo.png" style="width:300px;padding-top:10px" th:src="@{/images/healthcare-logo.png}"/>
        <h2>Login to Group 2 Healthcare Portal</h2>
        <p style="font-size: 30px; font-weight: 900; padding:0px;">Sign-In</p>
        <form action="#" th:action="@{/login}" th:object="${userDTO}" method="post"}>
            <p style="font-size: 20px;padding-top:0px;padding-bottom:0px;">Username</p>
            <input style="height:25px;font-size:12pt;padding-top:0px;" type="text" th:field="*{userName}"/>
            <p style="font-size:20px; padding-top:0px;padding-bottom:0px;">Password</p>
            <input style="height:25px;font-size:12pt;padding-top:0px;" type="password" th:field="*{password}"/>
            <p><input style="height: 35px; width: 150px;font-size:14pt;font-weight:900" type="submit" value="Login "/></p>
            <div style="font-weight: 900; color: red;" th:text="${error}" th:if="${error}"></div>
        </form>
    </div>

</body>

</html>