<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <!--<link rel="stylesheet" th:href="@{/css/login.css}"/>-->
        <title>Password Reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            .flex-container {
                display:flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                text-align: center;
                min-height: 50px;
                background-color: white;
                padding: 5px;
                align-items: center;}
        </style>
    </head>

    <body>
    <div th:if="${param.success}">
        <div class="alert alert-info">You've successfully registered
            to our app!</div>
    </div>
        <div class="flex-container">
            <h2>Group 2 Healthcare Portal</h2>
            <p style="font-size: 30px;color: crimson;font-family:Courier New, Lucida Console, monospace;font-weight: 900;
            margin-bottom:12px;">Reset Password</p>
            <form method="post" th:action="@{/reset/password}">
                <div class="form-group mb-3">
                    <label class="form-label">User Name</label>
                    <input class="form-control"
                           id="username"
                           name="username"
                           placeholder="Enter Username"
                           type="text"
                    />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Password</label>
                    <input class="form-control"
                           id="password"
                           name="password"
                           placeholder="Enter New Password"
                           type="password"
                    />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Password</label>
                    <input class="form-control"
                           id="password2"
                           name="password2"
                           placeholder="Re-Enter New Password"
                           type="password"
                    />
                </div>
                <div style="font-family:Courier New, Lucida Console, monospace;font-weight:900;color:crimson;"
                     th:text="${error}" th:if="${error}"></div>
                <div class="form-group mb-3">
                    <button class="btn btn-primary" type="submit">Change Passsword</button>
                </div>
                <div class="form-group mb-3">
                    <span>Remembered Password? <a href="/" th:href="@{/login}">Login
                             here</a></span>
                </div>
            </form>
            <img src="../static/images/healthcare-logo.png" style="width:300px;padding-top:10px;"
                 th:src="@{/images/healthcare-logo.png}"/>
        </div>

    </body>

</html>
